header {
  background-color: #62e6ff;
  padding: 20px;
  margin: 0;
  display: block;

}

.topnav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logoutButton{
  text-align: center;
  margin: auto;
}


