mat-form-field {
  font-size: 1em;
  outline: none;
  padding: 0.5em;
  border-radius: 10px;
  display: block;
  width: 280px;
  position: relative;
  margin: 10px 0;
}

button {
  background-color: green;
  font-size: 13px;
  color: white;
}

div {
  text-align: -webkit-center;
}

mat-form-field {
  width: 280px;
}

.employeeForm {
  padding-top: 20px;
}
