div{
  text-align: -webkit-center;
  padding-top: 20px;
  height: 100px;
  margin-top: 10em;
}

mat-card{
  width: 50%;
  text-align: center;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


p{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  letter-spacing: -1.2px;
  word-spacing: 3px;
  color: #3154FF;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: normal;
  text-transform: uppercase;
  line-height: 1.5;
}
