span{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  letter-spacing: -1.2px;
  word-spacing: 3px;
  color: #3154FF;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: normal;
  line-height: 1.5;
}

mat-card{
  text-align: center;
}
